<section id="projects">
<div class="container">
  <h1 style="font-size: 4em">Projects</h1>
  <div class="panel panel-default">
    <div class="panel-body">

        {% for post in site.posts %}
            {% assign loopindex = forloop.index | modulo: 2 %}

                {% if loopindex == 1 %}
                    <div class="panel-item panel-item-left">
                        <div class="panel-item-container">{{ post }}</div>
                    </div>
                {% else %}
                    <div class="panel-item panel-item-right">
                        <div class="panel-item-container">{{ post }}</div>
                    </div>
                {% endif %}

        {% endfor %}

    </div>
  </div>
</div>
</section>
